<app-card
  name = "card name"
  number = "0000 0000 0000 0000"
  amount = "4989,33"
  expirationDate = "08/33"
  paymentSystem = "visa"
></app-card>

<p appDirective [value]="myAttrs">
  current id1: {{myAttrs.id1}}
  <br>
  current id2: {{myAttrs.id2}}
</p>

<button (click)="onClick()">click here to change the [value]</button>

<p>Pipe:</p>
<p>{{ 11223344.55 | currency : 'ru-RU'}}</p>
<p>{{ 11223344.55 | currency : 'en-US'}}</p>


<!-- hw 5 service and DI-->
<p>hw 5 service and DI:</p>

<hello name="{{ name }}"></hello>
<p>timer:</p>
<output id="timer-output"></output>

<br/>
<br/>

<app-product-form></app-product-form>